@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: linear-gradient(60deg, rgba(255,137,0,1) 50%, rgba(255,137,0,1) 50%);
    width: 100%;
    height: 100vh;
}

#Cabecalho{
    padding: 10px;
}

#Conteudo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#article{
    width: 45%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#article h3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
}

#article form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

input{
    margin-top: 20px;
    width: 250px;
    height: 25px;
    border: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #FF8900;
    font-size: 18px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#btnCadastrar{
    width: 150px;
    background-color: #FF9B26;
    border: none;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#btnCadastrar:hover{
    background-color: #FFFFFF;
    color: #FF9B26;
}

#article form a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    opacity: 60%;
}

#article form a:hover{
    opacity: 100%;
}

#UploadFoto{
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: none;
    color: #FFFFFF;
}

div.upload {
    width: auto;
    height: auto;
    padding: 10px;
    background: url("../img/imgUpload.png");
    overflow: hidden;
}
 
div.upload input {
    display: block !important;
    width: 127px !important;
    height: 127px !important;
    opacity: 0% !important;
    overflow: hidden !important;
}